

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}
#first{
    background-image: url("../image/delanistudio2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    color:white;
    padding-top: 100px 

    

}
hide{
    display:none;
}
#third{
    background-image: url("../image/delanistudio3.jpg");
    background-position: center;
    margin-bottom:20px; 
    padding-top:200px;
    color:white;
    height:450px;

}
#contact{
    background-image: url("../image/delanistudio.jpg");
    background-size: cover;
    

}
.form-cont input{
    background: transparent;
}
.form-cont textarea{
    background: none;

}
#social:hover{
    margin-left: 500px;


}
.par, .par1, .par2{
    display:none;
    margin:0%;
}